@import "fonts";
@import "variables";

* {
    box-sizing: border-box;
    font-family: "Roboto", monospace;
}

html {
    color-scheme: dark;
}

body {
    margin: 0;
    background-color: var(--color-body-background);
    color: var(--color-text-primary);

    font-size: 14px;
    line-height: 20px;

    overflow: hidden;
}

#app {
    height: 100vh;
    width: 100vw;
    overflow: auto;
}


